/* semantic-ui overrides */
.ui.dropdown.error,
.ui.dropdown.error > .default.text,
.ui.dropdown.error > .text {
  color: #e0b4b4 !important;
}

.ui.dropdown.no-add-menu div[role="listbox"] {
  visibility: hidden !important;
}

.ui-alerts .ui.floating.message {
  padding-right: 50px !important;
}
